= render "devise/registrations/regist-header"

.infomation-input
  .MemberInformationInput
    .MemberInformationInput__title
      会員情報入力
    .MemberInformationInput__content
      .MemberInformationInput__content--form
      = form_with model:@user, url: user_registration_path, local: true do |f| 
        .form-group
          %label
            ニックネーム
          %span.form_require
            必須
          %br/
          -#%input.input_default{name: "nickname", type: "text", placeholder: "例) フリマ 太郎"}
          = f.text_field :nickname, class: "input_default", placeholder: "例) フリマ 太郎"
          %br/

          .form-group
          %label
            メールアドレス
          %span.form_require
            必須
          %br/
          -#%input.input_default{name: "e-mail", type: "e-mail", placeholder: "例) PC・携帯どちらでも可"}
          = f.text_field :e_mail, class: "input_default", placeholder: "例) PC・携帯どちらでも可"
          %br/

          .form-group
          %label
            パスワード
          %span.form_require
            必須
          %br/
          -#%input#password.field.input_default{type: "password", placeholder: "例) 7文字以上の半角英数字"}
          = f.password_field :password, autofocus: true, autocomplete: "password", placeholder: "7文字以上の半角英数字", class: "input_default"
          %p.form_info
            ※ 英字と数字の両方を含めて設定してください
          %input#password-check{type: "checkbox"}
          %span
            パスワードを表示する
          %br/

          %label
            お名前(全角) 
          %span.form_require
            必須
          %br/
          .form_flex
            = f.text_field :family_name, class: "input_default", placeholder: "例) 鈴木"
            = f.text_field :first_name, class: "input_default", placeholder: "例) 太郎"
            %br/
            %label
              お名前カナ(全角)
            %span.form_require
              必須
            %br/
            .form_flex
              = f.text_field :family_name_kana, class: "input_default", placeholder: "例) スズキ"
              = f.text_field :first_name_kana, class: "input_default", placeholder: "例) タロウ"
            %br/
            %label
              生年月日 
            %span.form_require
              必須
            %div

              = f.date_select :birth_year, {start_year: 1960, end_year: 2100, discard_month: true, discard_day: true} 
              月
              = f.date_select :birth_month, {start_month: 1, end_month: 12, discard_year: true, discard_day: true, use_month_numbers: true} 
              月
              -# = f.date_select :birth_day, {start_day: 1, end_day: 31, discard_month: true}
              = f.select :birth_day, [ ["1"], ["2"],["3"],["4"],["5"],["6"],["7"],["8"],["9"],["10"],["11"],["12"],["13"],["14"],["15"],["16"],["17"],["18"],["19"],["20"],["21"],["22"],["23"],["24"],["25"],["26"],["27"],["28"],["29"],["30"],["31"],]
              日            
            %p.form_info
              ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
          
            .actions
            = f.submit "次へ進む", class: "btn_red" 
.item__sell__footer
  %ul
    %li
      プライバシーポリシー
    %li
      フリマ利用規約
    %li
      特定商取引に関する表記
  .item__sell__footer__logo
    = link_to root_path do
      = image_tag "/assets/material/logo/logo-white.png", class: "furima__white__logo"