= render "devise/registrations/regist-header"

.infomation-input
  .MemberInformationInput
    .MemberInformationInput__title
      会員情報入力
    .MemberInformationInput__content
      .MemberInformationInput__content--form
      = form_with model:@user, url: user_registration_path, local: true do |f| 
        .form-group
          %label
            ニックネーム
          %span.form_require
            必須
          %br/
          -#%input.input_default{name: "nickname", type: "text", placeholder: "例) フリマ 太郎"}
          = f.text_field :nickname, class: "input_default", placeholder: "例) フリマ 太郎"
          %br/

          .form-group
          %label
            メールアドレス
          %span.form_require
            必須
          %br/
          -#%input.input_default{name: "e-mail", type: "e-mail", placeholder: "例) PC・携帯どちらでも可"}
          = f.text_field :e_mail, class: "input_default", placeholder: "例) PC・携帯どちらでも可"
          %br/

          .form-group
          %label
            パスワード
          %span.form_require
            必須
          %br/
          -#%input#password.field.input_default{type: "password", placeholder: "例) 7文字以上の半角英数字"}
          = f.password_field :password, autofocus: true, autocomplete: "password", placeholder: "7文字以上の半角英数字", class: "input_default"
          %p.form_info
            ※ 英字と数字の両方を含めて設定してください
          %input#password-check{type: "checkbox"}
          %span
            パスワードを表示する
          %br/

          %label
            お名前(全角) 
          %span.form_require
            必須
          %br/
          .form_flex
            = f.text_field :family_name, class: "input_default", placeholder: "例) 鈴木"
            = f.text_field :first_name, class: "input_default", placeholder: "例) 太郎"
            %br/
            %label
              お名前カナ(全角)
            %span.form_require
              必須
            %br/
            .form_flex
              = f.text_field :family_name_kana, class: "input_default", placeholder: "例) スズキ"
              = f.text_field :first_name_kana, class: "input_default", placeholder: "例) タロウ"
            %br/
            %label
              生年月日 
            %span.form_require
              必須
            %div
            .form_flex
              = f.date_select :birth_year, {start_year: 1990, end_year: 2020, discard_month: true, discard_day: true} 
            .form_flex
              = f.date_select :birth_month, {start_month: 1, end_month: 12, discard_year: true, discard_day: true} 
            .form_flex
              = f.date_select :birth_day, {start_day: 1, end_day: 31} 
            年
            = succeed "\u{6708}" do
              %select#select_month{name: "birth_month"}
                %option{:value => ''} --
                %option{:value => '1'} 1
                %option{:value => '2'} 2
                %option{:value => '3'} 3
                %option{:value => '4'} 4
                %option{:value => '5'} 5
                %option{:value => '6'} 6
                %option{:value => '7'} 7
                %option{:value => '8'} 8
                %option{:value => '9'} 9
                %option{:value => '10'} 10
                %option{:value => '11'} 11
                %option{:value => '12'} 12
            = succeed "\u{65e5}" do
              %select#select_day{name: "birth_day"}
                %option{:value => ''} --
                %option{:value => '1'} 1
                %option{:value => '2'} 2
                %option{:value => '3'} 3
                %option{:value => '4'} 4
                %option{:value => '5'} 5
                %option{:value => '6'} 6
                %option{:value => '7'} 7
                %option{:value => '8'} 8
                %option{:value => '9'} 9
                %option{:value => '10'} 10
                %option{:value => '11'} 11
                %option{:value => '12'} 12
                %option{:value => '13'} 13
                %option{:value => '14'} 14
                %option{:value => '15'} 15
                %option{:value => '16'} 16
                %option{:value => '17'} 17
                %option{:value => '18'} 18
                %option{:value => '19'} 19
                %option{:value => '20'} 20
                %option{:value => '21'} 21
                %option{:value => '22'} 22
                %option{:value => '23'} 23
                %option{:value => '24'} 24
                %option{:value => '25'} 25
                %option{:value => '26'} 26
                %option{:value => '27'} 27
                %option{:value => '28'} 28
                %option{:value => '29'} 29
                %option{:value => '30'} 30
                %option{:value => '31'} 31
            %p.form_info
              ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
          
            .actions
            = f.submit "次へ進む", class: "btn_red" 
.item__sell__footer
  %ul
    %li
      プライバシーポリシー
    %li
      フリマ利用規約
    %li
      特定商取引に関する表記
  .item__sell__footer__logo
    = link_to root_path do
      = image_tag "/assets/material/logo/logo-white.png", class: "furima__white__logo"