= render "devise/registrations/regist-header"

.infomation-input
  .MemberInformationInput
    .MemberInformationInput__title
      会員情報入力
    .MemberInformationInput__content
      .MemberInformationInput__content--form
      = form_with model:@user, url: user_registration_path, local: true do |f| 
        .form-group
          %label
            ニックネーム
          %span.form_require
            必須
          %br/
          = f.text_field :nickname, class: "input_default", placeholder: "例) フリマ 太郎"
          %br/

          .form-group
          %label
            メールアドレス
          %span.form_require
            必須
          %br/
          = f.text_field :email, class: "input_default", placeholder: "例) PC・携帯どちらでも可"
          %br/

          .form-group
          %label
            パスワード
          %span.form_require
            必須
          %br/
          = f.password_field :password, autofocus: true, autocomplete: "password", placeholder: "7文字以上の半角英数字", class: "input_default"
          %p.form_info
            ※ 英字と数字の両方を含めて設定してください
          %input#password-check{type: "checkbox"}
          %span
            パスワードを表示する
          %br/

          %label
            お名前(全角) 
          %span.form_require
            必須
          %br/
          .form_flex
            = f.text_field :family_name, class: "input_default", placeholder: "例) 鈴木"
            = f.text_field :first_name, class: "input_default", placeholder: "例) 太郎"
            %br/
            %label
              お名前カナ(全角)
            %span.form_require
              必須
            %br/
          .form_flex
            = f.text_field :family_name_kana, class: "input_default", placeholder: "例) スズキ"
            = f.text_field :first_name_kana, class: "input_default", placeholder: "例) タロウ"
            %br/
          .form_flex
            %label 生年月日 
            %span.form_require
              必須    
            %br/        
            .form_flex--birthday
              = f.date_select :birth_day, {use_month_numbers: true}, default: {year: 2000, month: 1, day: 1}
            %p.form_info
              ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
          
            .actions
            = f.submit "次へ進む", class: "btn_red" 
.item__sell__footer
  %ul
    %li
      プライバシーポリシー
    %li
      フリマ利用規約
    %li
      特定商取引に関する表記
  .item__sell__footer__logo
    = link_to root_path do
      = image_tag "/assets/material/logo/logo-white.png", class: "furima__white__logo"