.pur-all
  .item__sell__header__logo
    = link_to root_path do
      = image_tag "material/logo/logo.png", class: "furima__logo"


  .pur-main
    .pur-main__inner
      %h2 購入内容の確認
    .pur-main__inner
      .pur-main__inner--content
        .purchase-image
        .purchase-text
          COACHシグネチャーショルダーバッグ
          ¥5,580 （税込）送料込み	

    .pur-main__inner
      .pur-main__inner--content
        .pur-left
          支払い金額
        .pur-right
          ￥3,333

    .pur-main__inner
      .pur-main__inner--content      
        .pur-left
          支払い方法
        .pur-right
          カテゴリー
      .pur-main__inner--text
        クレジットカード
        %br ************
        asadada

    .pur-main__inner
      .pur-main__inner--content
        .pur-left
          商品の詳細
        .pur-right 
          カテゴリー
      .pur-main__inner--text
        名古屋市名駅ああああああ
        山本 拓哉


    .pur-main__inner
      .pur-main__inner--content
        = link_to "次へ進む", "https://www.mercari.com/jp/signup/registration/", class: "btn btn-mail"
  .item__sell__footer
    %ul
      %li
        プライバシーポリシー
      %li
        フリマ利用規約
      %li
        特定商取引に関する表記
    .item__sell__footer__logo
      = link_to root_path do
        = image_tag "material/logo/logo-white.png", class: "furima__white__logo"
