.pur-all
  .item__sell__header__logo
    = link_to root_path do
      = image_tag "/assets/material/logo/logo.png", class: "furima__logo"


  .pur-main
    .pur-main__inner
      %h2 購入内容の確認
    .pur-main__inner
      .pur-main__inner--content
        .purchase-image
        .purchase-text
          COACHシグネチャーショルダーバッグ
          ¥5,580 （税込）送料込み	

    .pur-main__inner
      .pur-main__inner--content
        .pur-left
          支払い金額
        .pur-right
          ￥3,333

    .pur-main__inner
      .pur-main__inner--content      
        .pur-left
          支払い方法
        .pur-right
          カテゴリー
      .pur-main__inner--text
        クレジットカード
        %br ************
        asadada

    .pur-main__inner
      .pur-main__inner--content
        .pur-left
          商品の詳細
        .pur-right 
          カテゴリー
      .pur-main__inner--text
        名古屋市名駅ああああああ
        山本 拓哉


    .pur-main__inner
      .pur-main__inner--content
        = link_to "次へ進む", "https://www.mercari.com/jp/signup/registration/", class: "btn btn-mail"
  .fotter
    %ul.fotter__contents
      %li.content
        %h2.content__head
          FURIMAについて
        %ul.content__list
          %li.content__list__text
            = link_to "#", class: "text" do
              会社概要（運営会社）
          %li.content__list__text
            = link_to "#", class: "text" do
              プライバシーポリシー
          %li.content__list__text
            = link_to "#", class: "text" do
              FURIMA利用規約
          %li.content__list__text
            = link_to "#", class: "text" do
              ポイントに関する特約
      %li.content
        %h2.content__head
          FURIMAを見る
        %ul.content__list
          %li.content__list__text
            = link_to "#", class: "text" do
              カテゴリー一覧
          %li.content__list__text
            = link_to "#", class: "text" do
              ブランド一覧
      %li.content
        %h2.content__head
          ヘルプ＆ガイド
        %ul.content__list
          %li.content__list__text
            = link_to "#", class: "text" do
              FURIMAガイド
          %li.content__list__text
            = link_to "#", class: "text" do
              FURIMAロゴ利用ガイドライン
          %li.content__list__text
            = link_to "#", class: "text" do
              お知らせ
    .fotter__logo
      = link_to "#", class: "furima-logo" do
        = image_tag "/assets/material/logo/logo-white.png", class: "img"
      %p
        © FURIMA