.item__sell__header__logo
  = link_to root_path do
    = image_tag "/assets/material/logo/logo.png", class: "furima__logo"

.login-infomation
  .loginInformationInput
    .loginInformationInput__title
      アカウントをお持ちでない方はこちら
      .form_flex
        %button{type: "submit", class: "regist-btn_blue"}
          新規会員登録
    .loginInformationInput__content
      .loginInformationInput__content--form
        .form-group
          %label
            メールアドレス
          %br/
          %input.input_default{name: "e-mail", type: "e-mail", placeholder: "メールアドレス"}
          %br/

        .form-group
          %label
            パスワード
          %br/
          %input#password.field.input_default{type: "password", placeholder: "パスワード"}

        .form_flex
          %button{type: "submit", class: "login-btn_red"}
            ログイン

.purchase-footer
  .purchase-footer__list
    .purchase-footer__list__message
      = link_to 'プライバシーポリシー',''
    .purchase-footer__list__message
      = link_to 'FURIMA利用規約',''
    .purchase-footer__list__message
      = link_to '特定取引に関する表記',''
  .purchase-footer__company
  = link_to '#', class: "purchase-footer__logo" do
    %p© Fmarket, Inc.
  .fotter__logo
    = link_to "#", class: "furima-logo" do
      = image_tag "/assets/material/logo/logo-white.png", class: "img"