.item__sell__header__logo
  = link_to root_path do
    = image_tag "material/logo/logo.png", class: "furima__logo"

.login-infomation
  .loginInformationInput
    .loginInformationInput__title
      アカウントをお持ちでない方はこちら
      .form_flex
        %button{class: "regist-btn_blue"}
          = link_to new_user_registration_path, class: "list-right__item__btn" do
            新規会員登録
    .loginInformationInput__content
      .loginInformationInput__content--form
      = form_with model:@user, url: user_session_path, local: true do |f|
        .form-group
          %label
            メールアドレス
          %br/
          = f.text_field :email, class: "input_default", placeholder: "メールアドレス" 
          %br/

        .form-group
          %label
            パスワード
          %br/
          = f.password_field :password, autofocus: true, autocomplete: "password", placeholder: "パスワード", class: "input_default"
        .form_flex
          %button{type: "submit", class: "login-btn_red"}
            ログイン

.item__sell__footer
  %ul
    %li
      プライバシーポリシー
    %li
      フリマ利用規約
    %li
      特定商取引に関する表記
  .item__sell__footer__logo
    = link_to root_path do
      = image_tag "material/logo/logo-white.png", class: "furima__white__logo"
