.item__sell__header__logo
  = link_to root_path do
    = image_tag "/assets/material/logo/logo.png", class: "furima__logo"

= form_with(model: @item, local: true) do |f|
  .item__input
    .item__sell__form1
      .form__frame
        .item__picture
          %label.item__picture__label
            出品画像
          %span.required
            必須
          %p.picture__upper__limit
            最大10枚までアップロードできます
        .files__content
          %label
            .files__content__form
              = f.fields_for :images do |image|
                = image.file_field :image, accept: 'image/png,image/jpeg', multiple: 'multiple', class: 'file__upload'
                = icon("fa", "camera")
                %p.how__to__upload
                  ドラッグアンドドロップ
                  %br
                  またはクリックしてファイルをアップロード
    %hr.style__line

    .item__sell__form2
      .form__frame
        .item__name
          %label.item__name__label 
            商品名
          %span.required
            必須
        = f.text_field :name, id: 'name', size: 40, placeholder: "40文字まで"
        .item__explanation
          %label.item__explanation__label
            商品説明
          %span.required
            必須
        = f.text_area :explanation, id: 'explanation', size: "40x25", placeholder: "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
    %hr.style__line

    .item__sell__form3
      .form__frame
        .item__detail
          商品の詳細
        .item__category
          %label.item__category__label
            カテゴリー
          %span.required
            必須
        = f.fields_for :category do |category|
          = category.collection_select :category_id, @categories, :id, :name, { include_blank: "選択してください", selected: 1 }, {id: 'category'}
        .item__size
          %label.item__size__label
            サイズ
          %span.required
            必須
        = f.select :size, [["選択してください", 1],["XXS以下", 2],["XS(SS)", 3],["S", 4],["M", 5],["L", 6],["XL(LL)", 7],["2XL(3L)", 8],["3XL(4L)", 9],["4XL(5L)以上", 10],["FREE SIZE", 11]], {}, id: 'size'
        .item__brand
          %label.item__brand__label
            ブランド
          %span.no-required
            任意
        = f.fields_for :brand do |brand|
          = brand.text_field :name, id: 'brand', placeholder: "例）シャネル"
        .item__condition
          %label.item__condition__label
            商品の状態
          %span.required
            必須
        = f.select :condition, [["選択してください", 1],["新品、未使用", 2],["未使用に近い", 3],["目立った傷や汚れなし", 4],["やや傷や汚れあり", 5],["傷や汚れあり", 6],["全体的に状態が悪い", 7]], {}, id: 'condition'
    %hr.style__line

    .item__sell__form4
      .form__frame
        .about__shipping
          配送について
        .item__postage__payer
          %label.item__postage__payer__label
            配送料の負担
          %span.required
            必須
        = f.select :postage_payer, [["選択してください", 1],["送料込み（出品者負担）", 2],["着払い（購入者負担）", 3]], {}, id:'postage__payer'
        .item__shipping__origin
          %label.item__shipping__origin__label
            発送元の地域
          %span.required
            必須
        = f.select :shipping_origin, [["選択してください", 1],["北海道", 2],["青森県", 3],["岩手県", 4],["宮城県", 5],["秋田県", 6],["山形県", 7],["福島県", 8],["茨城県", 9],["栃木県", 10],["群馬県", 11],["埼玉県", 12],["千葉県", 13],["東京都", 14],["神奈川県", 15],["新潟県", 16],["富山県", 17],["石川県", 18],["福井県", 19],["山梨県", 20],["長野県", 21],["岐阜県", 22],["静岡県", 23],["愛知県", 24],["三重県", 25],["滋賀県", 26],["京都府", 27],["大阪府", 28],["兵庫県", 29],["奈良県", 30],["和歌山県", 31],["鳥取県", 32],["島根県", 33],["岡山県", 34],["広島県", 35],["山口県", 36],["徳島県", 37],["香川県", 38],["愛媛県", 39],["高知県", 40],["福岡県", 41],["佐賀県", 42],["長崎県", 43],["熊本県", 44],["大分県", 45],["宮崎県", 46],["鹿児島県", 47],["沖縄県", 48],["未定", 49]],{}, id: 'shipping__origin'
        .item__days__to__ship
          %label.item__days__to__ship__label
            発送までの日数
          %span.required
            必須
        = f.select :days_to_ship, [["選択してください", 1],["1~2日で発送", 2],["2~3日で発送", 3],["4~7日で発送", 4]], {}, id: 'days__to__ship'
    %hr.style__line

    .item__sell__form5
      .form__frame
        .about__price
          価格（￥300〜9,999,999）
        .item__price
          %label.item__price__label
            販売価格
          %span.required
            必須
          %span.yen
            ¥
          = f.number_field :price, id: 'price', min: 300, max: 9999999, placeholder: '0'
        .sales__commission
          .sales__commission__label
            販売手数料（10％）
          .sales__commission__value
            ー
        %hr.style__line
        .sales__profit
          .sales__profit__label
            販売利益
          .sales__profit__value
            ー
        .item__submit__form
          = f.submit '出品する', id: 'item__submit'
          %button{type: 'submit', id: 'item__submit__draft'}
            下書きに保存
          = link_to root_path, class: "return__link" do
            もどる
        .precautions
          禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
.item__sell__footer
  %ul
    %li
      プライバシーポリシー
    %li
      フリマ利用規約
    %li
      特定商取引に関する表記
  .item__sell__footer__logo
    = link_to root_path do
      = image_tag "/assets/material/logo/logo-white.png", class: "furima__white__logo"