.header
  .header__inner
    .wrapper
      %h1.wrapper__logo
        = link_to root_path, class: "wrapper__logo__furima" do
          = image_tag "material/logo/logo.png", class: "stylist-image1"
      .wrapper__search-box
        %form.wrapper__search-box__form
          %input{type: 'text', class: 'form-text', placeholder: "キーワードから探す"}
          %button{type: 'submit', class: 'form-submit'}
            .form-submit__logo
              = image_tag "material/icon/icon-search 1.png", class: "stylist-image2"
    .navigation
      %ul.list-left
        %li.list-left__item
          = link_to "#", class: "list-left__item__category" do
            カテゴリー
        %li.list-left__item__btn
          = link_to "#", class: "burand" do
            ブランド
      %ul.list-right
        - if user_signed_in?
          %li.list-right__item
            = link_to destroy_user_session_path, method: :delete, class: "list-right__item__btn" do
              ログアウト
          %li.list-right__item
            = link_to "#", class: "list-right__item__btn" do
              マイページ
        - else
          %li.list-right__item
            = link_to new_user_session_path, class: "list-right__item__btn" do
              ログイン
          %li.list-right__item
            = link_to new_user_registration_path, class: "list-right__item__btn" do
              新規会員登録
%nav.category
  %ul.category__ul
    - if !@item.category.parent_id
      %li.category__ul__li
        = link_to "#", class: "btn" do
          FURIMA
      %li.category__ul__li
        = link_to "#", class: "btn" do
          = @item.category.name
      %li.category__ul__li
        = icon('fa', 'angle-right')
      %li.category__ul__li
        = link_to "#", class: "btn-bold" do
          = @item.name
    - elsif !@item.category.parent.parent_id
      %li.category__ul__li
        = link_to "#", class: "btn" do
          FURIMA
      %li.category__ul__li
        = icon('fa', 'angle-right')
      %li.category__ul__li
        = link_to "#", class: "btn" do
          = @item.category.parent.name
      %li.category__ul__li
        = icon('fa', 'angle-right')
      %li.category__ul__li
        = link_to "#", class: "btn" do
          = @item.category.name
      %li.category__ul__li
        = icon('fa', 'angle-right')
      %li.category__ul__li
        = link_to "#", class: "btn-bold" do
          = @item.name
    - else
      %li.category__ul__li
        = link_to "#", class: "btn" do
          FURIMA
      %li.category__ul__li
        = icon('fa', 'angle-right')
      %li.category__ul__li
        = link_to "#", class: "btn" do
          = @item.category.parent.parent.name
      %li.category__ul__li
        = icon('fa', 'angle-right')
      %li.category__ul__li
        = link_to "#", class: "btn" do
          = @item.category.parent.name
      %li.category__ul__li
        = icon('fa', 'angle-right')
      %li.category__ul__li
        = link_to "#", class: "btn" do
          = @item.category.name
      %li.category__ul__li
        = icon('fa', 'angle-right')
      %li.category__ul__li
        = link_to "#", class: "btn-bold" do
          = @item.name
.main
  .main__show
    .main__show__content
      .item
        .item__box
          %h2.item__box__name
            = @item.name
          .item__box__body
            %ul.image
              - objects = @item.pictures
              - objects.each do |object|
                %li.list
                  = image_tag object.image.url, class: "list__size"
          .item__box__price
            %span.price
              = @item.price
            .detail
              %span
                (税込)
              %span
                送料込み
          .item__box__detail
            = simple_format @item.explanation
          .item__box__table
            %table.table
              %tbody.tbody
                %tr.tr
                  %th.th
                    出品者
                  %td.td
                    = @user.nickname
                %tr.tr
                  %th.th
                    カテゴリ
                  %td.td
                    - if !@item.category.parent_id
                      = link_to "#", class: "td__color" do
                        .item-detail-table-sub
                          = @item.category.name
                    - elsif !@item.category.parent.parent_id
                      = link_to "#", class: "td__color" do
                        .item-detail-table-sub
                          = @item.category.parent.name
                      = link_to "#", class: "td__color" do
                        .item-detail-table-sub__sub
                          = @item.category.name
                    - else
                      = link_to "#", class: "td__color" do
                        .item-detail-table-sub
                          = @item.category.parent.parent.name
                      = link_to "#", class: "td__color" do
                        .item-detail-table-sub__sub
                          = @item.category.parent.name
                      = link_to "#", class: "td__color" do
                        .item-detail-table-sub__sub__sub
                          = @item.category.name
                %tr.tr
                  %th.th
                    ブランド
                  %td.td
                    hoge
                %tr.tr
                  %th.th
                    商品のサイズ
                  %td.td
                    = @item.size
                %tr.tr
                  %th.th
                    商品の状態
                  %td.td
                    = @item.condition
                %tr.tr
                  %th.th
                    配送料の負担
                  %td.td
                    = @item.postage_payer
                %tr.tr
                  %th.th
                    発送元の地域
                  %td.td
                    = link_to "#", class: "td__color" do
                      = @item.shipping_origin
                %tr.tr
                  %th.th
                    発送日の目安
                  %td.td
                    = @item.days_to_ship
          - if user_signed_in? && current_user.id == @item.seller_id
            %li.item__box__btn
              %ul.edit
                = link_to "#", class: "edit" do
                  編集
              %ul.delete
                = link_to "#", class: "delete" do
                  削除
          - elsif user_signed_in?
            .item__box__buy
              = link_to item_buyers_path(@item), class: "buy-color" do
                購入画面に進む
          - else 
            .item__box__buy
              = link_to new_user_session_path, class: "buy-color" do
                新規登録画面に進む
            .item__box__option
              %ul.like
                %li.like__btn
                  = icon('fa', 'star')
                  お気に入り 0
              %ul.report
                %li.report__btn
                  = link_to "#", class: "report__btn__text" do
                    = icon('fa', 'flag')
                    不適切な商品の通報
        .item__box__comment
          %form.form
            %textarea{type: 'text', class: 'form__text', }
            %p.form__note
              相手のことを考え丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
              %br
            %button.form__button
              = icon('fa', 'comment')
              コメントする
      %ul.main__show__links
        %li.link
          = link_to "#", class: "link__btn" do
            = icon('fa', 'angle-left')
            %span
            前の商品
        %li.link-right
          = link_to "#", class: "link__btn" do
            %span
              後ろの商品
            = icon('fa', 'angle-right')
      .main__show__relation
        = link_to "#", class: "btn" do
          ベビー・キッズをもっと見る
%aside.app-banner
  .app-banner__box
    %h2.app-banner__box__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.app-banner__box__text
      今すぐ無料ダウンロード！
    .app-banner__box__icon
      = link_to "#", class: "main-btn__apple" do
        = image_tag "material/pict/app.svg", class: "btn"
      = link_to "#", class: "main-btn__google" do
        = image_tag "material/pict/google.svg", class: "btn"
.foter
  %ul.foter__contents
    %li.content
      %h2.content__head
        FURIMAについて
      %ul.content__list
        %li.content__list__text
          = link_to "#", class: "text" do
            会社概要（運営会社）
        %li.content__list__text
          = link_to "#", class: "text" do
            プライバシーポリシー
        %li.content__list__text
          = link_to "#", class: "text" do
            FURIMA利用規約
        %li.content__list__text
          = link_to "#", class: "text" do
            ポイントに関する特約
    %li.content
      %h2.content__head
        FURIMAを見る
      %ul.content__list
        %li.content__list__text
          = link_to "#", class: "text" do
            カテゴリー一覧
        %li.content__list__text
          = link_to "#", class: "text" do
            ブランド一覧
    %li.content
      %h2.content__head
        ヘルプ＆ガイド
      %ul.content__list
        %li.content__list__text
          = link_to "#", class: "text" do
            FURIMAガイド
        %li.content__list__text
          = link_to "#", class: "text" do
            FURIMAロゴ利用ガイドライン
        %li.content__list__text
          = link_to "#", class: "text" do
            お知らせ

  .foter__logo
    = link_to "#", class: "furima-logo" do
      = image_tag "material/logo/logo-white.png", class: "img"
    %p
      © FURIMA
= link_to new_item_path, class: "display" do
  .display__btn
    %span.display__btn__text
      出品する
    = image_tag "material/icon/icon_camera.png", class: "img"
